body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	color: #000000;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px 5px #dbdbdb;
}

.page-header {
	position: relative;
}

.main-menu {
	padding: 15px 6%;
}

.main-menu > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-menu li {
	width: 23%;
	vertical-align: middle;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
	float: left;
	text-align: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	float: right;
	text-align: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-menu a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.main-menu a:hover {
	color: #81b3d2;
}

.main-menu a:active {
	color: #b2b2b2;
}

.main-menu .active {
	color: #766357;
}

.main-menu .active:hover {
	color: #604e43;
}

.main-menu .active:active {
	color: #d6d0cc;
}

.logo {
	position: absolute;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	top: 0;
	left: 50%;
	z-index: 10;
}

.promo {
	background: #ccc url("../img/bg-photo.jpg") no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: 508px;
	width: 100%;
	padding-top: 77px;
	position: relative;
}

.promo::after {
	content: "";
	display: block;
	height: 57px;
	width: 100%;
	background: url(../img/white-mask.png) 0 100% no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
}

.promo img {
	display: block;
	width: 458px;
	margin-right: auto;
	margin-left: auto;
}

.reasons-header {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	padding: 60px 40px 50px 40px;
}

.reasons-title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 27px;
}

.reasons-description {
	line-height: 26px;
	margin: 0;
}

.reason{
	float: left;
	width: 33.333333%;
	text-align: center;
	min-height: 256px;
}

.reason-image {
	width: 66.666666%;
	overflow: hidden;
}

.reason-image img {
	display: block;
}

.reason-title {
	font-size: 21px;
	line-height: 21px;
	width: 155px;
	margin: 55px auto 20px;
}

.reason-number {
	margin-bottom: 19px;
}

.reason-description {
	line-height: 21px;
	margin: 0 auto;
	margin-bottom: 0px;
}

.reason-blue {
	background: #81b3d2;
	color: white;
	box-sizing: border-box;
	padding: 0 51px;
}

.reason-blue:nth-of-type(2) {
	padding: 0 45px;
}

.reason-icon {
	padding: 60px 48px 25px ;
	min-height: 330px;
	box-sizing: border-box;
}

.reason-icon::before {
	content: "";
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	background-image: url("../img/sprites.png");
}

.icon-house::before {
	width: 75px;
	height: 72px;
	padding-bottom: 4px;
	background-position: -112px -15px;
}

.icon-food::before {
	width: 74px;
	height: 70px;
	padding-bottom: 6px; 
	background-position: -19px -16px;
}

.icon-souvenir::before {
	width: 64px;
	height: 76px;
	background-position: -213px -18px;
}

.reason-icon .reason-title {
	margin-bottom: 25px;
	margin-top: 0;
	padding-top: 0px;
}

.reason-icon .reason-description {
	margin: 0;
}

.reason-row:nth-of-type(2n+1) {
	height: 256px;
	overflow: hidden;
}

.row-grey {
	background: #eee;
	min-height: 256px;
	box-sizing: border-box;
}

.row-grey .reason-title {
	margin-top: 48px;
}

.row-grey .reason-description {
	width: 67.5%;
	margin: 0 auto;
}

.hotel-search {
	position: relative;
	padding-top: 55px;
	text-align: center;
}

.search-title { 
	font-size: 30px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 30px
}

.search-text {
	margin-bottom: 44px;
}

.map {
	position: relative;
	overflow: hidden;
}

.btn, .form-btn,
.search-form input,
.search-form label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	border: none;
	outline: none;
}

.btn-brown {
	background: #766357;
	color: white;
}

.btn-brown:hover {
	background: #604e43;
}

.btn-brown:active {
	background: #503e33;
	color: #857871;
}

.search-btn {
	width: 570px;
	padding: 30px 20px;
	font-size: 21px;
}

.search-form {
	position: absolute;
	box-sizing: border-box;
	width: 570px;
	left: 50%;
	margin-left: -285px;
	padding: 58px;
	background-color: white;
	text-align: left;
	box-shadow: 0 5px 5px 0px #8a8a8a;
}

@-webkit-keyframes show {
	0%	{
	-webkit-transform: translateY(-2000px);
			transform: translateY(-2000px);
	}
	70%	{
	-webkit-transform: translateY(30px);
			transform: translateY(30px);
}
	90%	{
	-webkit-transform: translateY(-10px);
			transform: translateY(-10px);
	}
	100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	}
}

@keyframes show {
	0%	{
	-webkit-transform: translateY(-2000px);
			transform: translateY(-2000px);
	}
	70%	{
	-webkit-transform: translateY(30px);
			transform: translateY(30px);
}
	90%	{
	-webkit-transform: translateY(-10px);
			transform: translateY(-10px);
	}
	100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	}
}

@-webkit-keyframes hide {
	0%	{
	-webkit-transform: translateY(0px);
			transform: translateY(0px);
	}
	50%	{
	-webkit-transform: translateY(100px);
			transform: translateY(100px);
	}
	100% {
	-webkit-transform: translateY(2000px);
			transform: translateY(2000px);
	}
}

@keyframes hide {
	0%	{
	-webkit-transform: translateY(0px);
			transform: translateY(0px);
	}
	50%	{
	-webkit-transform: translateY(100px);
			transform: translateY(100px);
	}
	100% {
	-webkit-transform: translateY(2000px);
			transform: translateY(2000px);
	}
}

@-webkit-keyframes shake {
	0%, 100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translateX(-10px);
			transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translateX(10px);
			transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translateX(-10px);
			transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translateX(10px);
			transform: translateX(10px);
	}
}

.search-form-hide {
	-webkit-animation: hide 1s;
			animation: hide 1s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}

.search-form-show {
	display: block;
	-webkit-animation: show 1s;
			animation: show 1s;
}

.search-form-error {
	-webkit-animation: shake 1s;
			animation: shake 1s;
}

.form-block {
	position: relative;
	margin-bottom: 30px;
	vertical-align: middle;
}

.form-block:nth-child(2) {
	margin-bottom: 31px;
}

.form-block:nth-child(3) {
	float: left;
	width: 225px;
}

.form-block:nth-child(4) {
	float: right;
	width: 177px;
}

.search-form label {
	display: inline-block;
	vertical-align: top;
}

.search-form label,
.search-form input {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-size: 14px;
	text-transform: uppercase;
}

.search-form input {
	background-color: #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: white;
	box-shadow: inset 0 0 0 2px #ebebeb;
}

.form-block:nth-of-type(1) input,
.form-block:nth-of-type(2) input {
	float: right;
	width: 346px;
	box-sizing: border-box;
	padding-left: 14px;
	color: black;
}

.form-calendar {
	position: absolute;
	right: 7px;
	top: 7px;
	width: 21px;
	height: 22px;
	background: url("../img/sprites.png") -184px -211px;
	z-index: 1;
}

.form-calendar:hover {
	background-position: -114px -211px;
}

.form-calendar:active {
	background-position: -37px -211px;
}

.quantity-picker {
	float: right;
	font-size: 0;
}

.quantity-picker input {
	width: 40px;
	height: 36px;
	text-align: center;
	padding: 0;
}

.form-btn {
	position: relative;
	width: 36px;
	height: 36px;
}

.form-btn::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
}

.btn-minus::before {
	left: 11px;
	top: 11px;
	background: url("../img/sprites.png") -193px -291px;
}

.btn-minus:hover:before {
	background-position: -243px -291px;
}

.btn-minus:active:before {
	background-position: -292px -290px;
}

.btn-plus::before {
	right: 9px;
	top: 11px;
	background: url("../img/sprites.png") -143px -291px;
}

.btn-plus:hover:before {
	background-position: -94px -291px;
}

.btn-plus:active:before {
	background-position: -42px -292px;
}

.btn-blue {
	background-color: #81b3d2;
	color: white;
	font-size: 21px;
}

.btn-blue:hover {
	background-color: #669ec0;
}

.btn-blue:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.find-btn {
	width: 458px;
	padding: 16px;
	margin-top: 25px;
}

.sedona-map {
	height: 593px;
	overflow: hidden;
	background: #ccc url(../img/map.jpg);
}

.sedona-map iframe {
	width: 100%;
	height: 593px;
	border: none;
}

.page-footer {
	width: 100%;
	font-size: 0;
	padding: 35px 0;
	background-color: white;
}

.page-footer a {
	text-decoration: none;
	color: black;
}

.index-footer {
	position: absolute;
	bottom: 0;
	opacity: 0.9;
}

.footer-block {
	display: inline-block;
	width: 33.333333%;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
}

.footer-follow-us {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.social-btns {
	font-size: 0;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 47px;
	height: 47px;
	margin: 3px;
	background: #81b3d2 url("../img/sprites.png");
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn-twitter {
	background-position: -25px -95px;
}

.social-btn-twitter:active {
	background-position: -28px -154px ;
}

.social-btn-fb {
	background-position: -225px -95px;
}

.social-btn-fb:active{
	background-position: -228px -146px;
}

.social-btn-youtube {
	background-position: -125px -95px;
}

.social-btn-youtube:active {
	background-position: -124px -155px;
}

.footer-copyright {
	font-weight: normal;
	line-height: 39px;
}

.footer-copyright a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	color: white;
	width: 113px;
	height: 39px;
	font-size: 0;
	background: url(../img/sprites.png);
	background-position: -304px -43px;
}

.footer-copyright a:hover {
	background-position: -306px -104px;
}

.footer-copyright a:active {
	background-position: -305px -152px;
}

.filters {
	padding: 26px 6% 33px;
	background: grey url("../img/inner-bg.jpg") no-repeat;
	background-size: cover;
	color: white;
	line-height: 21px;
}

.filter-container {
	float: left;
	width: 150px;
}

.filter-container:nth-of-type(1) {
	margin-right: 10%;
}

.filter-title {
	font-size: 16px;
	font-weight: bold;
}

.filter-container .filter-title {
	margin-bottom: 24px;
}

.filter-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	position: relative;
	padding-left: 40px;
	line-height: 22px;
}

input[type="checkbox"]+label::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 26px;
	height: 22px;
	background: url("../img/sprites.png") -338px -327px;
}

input[type="checkbox"]:checked+label::before {
	background-position: -336px -278px;
}

input[type="checkbox"]:disabled+label::before {
	background: url("../img/checkbox-disabled.png") no-repeat 50% 50% ;
}

input[type="checkbox"]:checked:disabled+label::before {
	background: url("../img/checked-disabled.png") no-repeat 50% 50% ;
}

.filter-container li {
	margin-bottom: 23px;
}

.filter-container li:last-of-type {
	margin-bottom: 0;
}

.price-range {
	float: right;
	width: 31.25%;
	text-transform: uppercase;
}

.price-controls {
	font-size: 0;
	height: 31px;
	position: relative;
	border: 2px solid white;
	border-radius: 2px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.control-container{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 40.375%;
	padding-left: 9%;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
}

.control-container:first-of-type {
	padding-left: 11,875%;
	width: 41.0%;
}

.price-controls input {
	max-width: 35%;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	outline: none;
	border: none;
}

.price-controls::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2px;
	height: 22px;
	background: white;
	-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
	margin-left: 10px;
}

.range-controls .scale {
	width: 100%;
	height: 2px;
	background: rgba(255,255,255,0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.show-btn {
	display: block;
	margin: 0 auto;
	padding: 6px 10%;
	font-size: 14px;
	line-height: 20px;
	color: inherit;
	text-transform: inherit;
	border: 2px solid white;
	background-color: transparent;
}

.show-btn:hover {
	color: black;
	background: white;
}

.results-title {
	padding: 30px 6%;
}

.quantity-found {
	float: left;
	width: 135px;
	margin-right: 27px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.results-title ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 366px;
	font-size: 0;
}

.results-title li {
	display: inline-block;
	width: 91px;
	font-size: 12px;
	line-height: 26px;
	vertical-align: bottom;
	text-align: center;
}

.results-title .sort {
	text-align: left;
}

.results-title .active {
	color: #81b3d2;
}

.sort a {
	-webkit-text-decoration-style: dotted;
			text-decoration-style: dotted;
	-webkit-text-decoration-color: #81b3d2;
			text-decoration-color: #81b3d2;
	color: #b1b1b1;
}

.sort a:hover {
	-webkit-text-decoration-style: dotted;
			text-decoration-style: dotted;
	-webkit-text-decoration-color: #81b3d2;
			text-decoration-color: #81b3d2;
	color: #81b3d2;
}

.results-title li a:active {
	text-decoration: none;
	color: black;
}

.arrows {
	position: relative;
	float: right;
	width: 35px;
	height: 10px;
	font-size: 0;
}

.arrow {
	display: inline-block;
	vertical-align: top;
}

.arrow::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	border: 10px solid #b1b1b1;
	border-left-width: 5px;
	border-right-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow-up::after {
	margin-right: 10px;
	border-top-width: 0;
}

.arrow-down::after {
	border-bottom-width: 0;
}

.arrow-up.active::after {
	border-bottom-color: #81b3d2;
}

.arrow-up.active:hover:after {
	border-bottom-color: #81b3d2;
}

.arrow-down.active::after {
	border-top-color: #81b3d2;
}

.arrow-down.active:hover:after {
	border-top-color: #81b3d2;
}

.arrow-up:hover:after {
	border-bottom-color: black;
}

.arrow-up:active:after {
	border-bottom-color: #81b3d2;
}

.arrow-down:hover:after {
	border-top-color: black;
}

.arrow-down:active:after {
	border-top-color: #81b3d2;
}

.hotel {
	border: 1px solid #e5e5e5;
	border-top: 0px;
	padding: 30px 6%;
}

.hotel:first-of-type {
	border-top: 1px solid #e5e5e5;
}

.hotel-image img {
	display: block;
}

.hotel-image {
	float: left;
	width: 135px;
	margin-right: 30px;
}

.hotel-description {
	float: left;
	width: 270px;
	text-align: left;
}

.hotel .item-title {
	text-decoration: none;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: black;
	margin-bottom: 7px;
	display: block;
	-webkit-transform: translateY(-3px);
			transform: translateY(-3px);
}

.hotel .item-title:hover {
	color: #81b3d2;
}

.hotel .item-title:active {
	color: #b1b1b1;
}

.type-and-price {
	color: #696969;
	margin-bottom: 13px;
	width: 182px;
	line-height: 21px;
}

.housing-type {
	float: left;
}

.housing-price {
	float: right;
}

.btns-container {
	height: 27px;
	font-size: 0;
	vertical-align: top;
	padding-bottom: 0;
}

.btn-details, .btn-book {
	font-family: "PT Sans", "Arial", sans-serif;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 3px 17px;
}

.btn-details {
	margin-right: 6px;
}

.hotel-rating {
	float: right;
	width: 140px;
	text-align: right;
}

.stars-container {
	margin-bottom: 48px;
}

.star {
	float: right;
	width: 18px;
	height: 17px;
	margin-left: 5px;
	background: url("../img/sprites.png") -306px -217px;
}

.rating {
	float: right;
	width: 110px;
	height: 25px;
	box-sizing: border-box;
	background: #f2f2f2;
	line-height: 25px;
	text-align: center;
	margin: 0;
}

